
header {
  margin-top: 1%;
}

.navbrand {
  display: flex;
}

.websearch input {
  border-radius: 5px;
  border: 2px solid #d35266;
  width: 640px;
  height: 42px;
}

.searchbutton i {
  font-size: 24px;
  color: #d35266;
  padding: 0 6px;
}

.bestlist i {
  margin-left: 50px;
  margin-right: 8px;
}

.websearch a i {
  font-size: 24px;
  color: #eee;
  padding: 6px 24px;
  background-color: #d35266;
}

.colborder {
  border: 1px solid rgba(56, 56, 56, 0.2);
  margin-right: 15px;
  margin-left: 2px;
}

.viewmore {
  border-radius: 22px;
  width: 130px;
  height: 30px;
  background-color: #d35266;
  margin: auto;
}

.viewmore a {
  text-decoration: none;
  color: #eee;
  font-size: larger;
  font-weight: bolder;
}

.specialchoise {
  background-color: #383838;
  width: 14%;
  padding: 0;
}

.spantext {
  color: #d35266;
  font-weight: bolder;
  margin-left: 20px ;
}

.asideborder {
  border: 1px solid rgba(56, 56, 56, 0.2);
}

h4 {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin: 3px 0 10px 0;
  background-color: #383838;
  color: #eee;
}

.siterights {
  text-align: center;
  font-size: 13px;
  background-color: #d35266;
  height: 80px;
}

.siterights ul {
  display: flex;
  justify-content: center;
}

.siterights ul li {
  list-style: none;
  padding: 0 8px;
  color: #383838;
}

.siterights ul li a {
  color: #383838;
}

.asidepopular input::placeholder {
  font-size: 12px;
  padding: 7px 10px;
}

.asideinput {
  display: flex;
  margin-left: 5px;
}

.searchresult {
  display: flex;
}

.foundresult {
  font-size: 13px;
  font-weight: bolder;
  padding: 3px 12px;
}

.filter strong {
 color: white;
 background-color: #d35266;
}

.cancel {
  display: flex;
}

.cancel i {
  background-color: none;
}

.asidepopular span {
  font-size: 12px;
  margin-top: -3px;
  margin-left: 3px;
}

strong {
  color: #383838;
  font-weight: bolder;
}

input::placeholder {
  font-size: larger;
  font-weight: bolder;
  padding-left: 5px;
}

.searchbutton {
  display: flex;
  border-radius: 5px;
  border: 2px solid #d35266;
  align-items: center;
  font-weight: bolder;
}

.navoption ul {
  display: flex;
  background-color: #d35266;
}

.navoption ul li {
  list-style: none;
  color: white;
  padding: 12px 16px;
  border-right: 3px solid #eee;
}

section {
  margin-top: 10%;
}

.dealprices a {
  text-decoration: none;
  background-color: #eee;
}

.navoption ul li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

section img {
  padding: 12px 0;
}

.brandimage img {
  width: 128px;
  height: 40px;
  margin: 0 1em;
}

.deallist {
  display: flex;
  justify-content: space-between;
}

section span {
  display: block;
  margin: 8px 0;
  font-size: 15px;
  color: #888;
}

.bestlist span {
  color: #383838;
  font-weight: 600;
  margin-left: 8px;
}

.hidden {
  display: none;
}

.bestlist {
  border: 2px solid #d35266;
}
